* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Gill Sans", sans-serif;
  width: 100vw;
  height: 100vh;
  margin: auto;
}

a {
  text-decoration: none;
  color: rgb(152, 197, 182);
  display: flex;
}

a:hover {
  color: aquamarine;
}

li {
  list-style: none;
  margin-left: 0.8rem;
  margin-right: 0.8rem;
}

h1 {
  font-size: 3.5rem;
}

p {
  font-size: 2rem;
}

.btn {
  background-color: chocolate;
  color: rgb(197, 184, 184);
  border-radius: 5px;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  padding: 10px;
}

.link-project {
  display: inline-block;
  text-align: center;
  font-size: 1.5rem;
  padding: 20px;
  width: 5%;
  background-color: rgb(218, 40, 40);
  color: whitesmoke;
  border: none;
}

.link-project,
.btn {
  border-radius: 5px;
  margin-top: 30px;
}

.btn:hover {
  color: brown;
  background-color: beige;
}

.link-project:hover {
  color: rgb(218, 40, 40);
  background-color: beige;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-right: 5rem;
  padding: 1rem;
}

#navbar {
  margin-top: 0rem;
  font-size: 2rem;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
  bottom: 10px;
  height: auto;
  background-color: rgb(156, 26, 26);
}

#welcome-section,
#hola {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#welcome-section {
  color: antiquewhite;
  background-color: darkblue;
  height: 40vw;
  width: 100vw;
}

#welcome-section > h1 {
  text-align: center;
}

#hola {
  background-color: darkslategray;
  color: whitesmoke;
}

#hola > div > h1 {
  padding: 20px;
  text-align: center;
  color: whitesmoke;
}

.iconos {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 25px;
  margin-bottom: 25px;
}

#projects {
  background-color: rgb(87, 87, 101);
  display: flex;
  flex-direction: column;
  width: 100%;
}

#projects > h1 {
  padding: 20px;
  text-align: center;
  color: whitesmoke;
}

.imagen-proyecto {
  width: 900px;
  height: 600px;
  padding: 20px;
}

.card,
.card2,
#form {
  align-items: center;
  text-align: center;
  padding: 20px;
}

.project-tile {
  color: antiquewhite;
}

.input-form {
  font-size: 1.5rem;
  padding: 10px;
}

#form {
  align-items: center;
  justify-content: center;
}

@media (max-width: 600px) {
  h1 {
    font-size: 1.5rem;
    width: 100vw;
  }

  h1,
  li {
    margin-left: auto;
    margin-right: auto;
  }

  p {
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: black;
    margin: 1em auto;
  }

  .btn {
    margin-top: auto;
    padding: 5px;
  }

  ul {
    margin: auto;
    flex-direction: column;
  }

  #navbar {
    width: 100%;
    height: auto;
  }

  #welcome-section {
    height: 70vw;
  }

  #projects,
  #hola {
    width: 150%;
    height: auto;
  }

  #projects {
    padding: 20px;
    align-items: center;
    justify-content: center;
    width: 150%;
  }

  #hola > div {
    background-color: black;
  }

  .imagen-proyecto {
    width: 100vw;
    height: auto;
    padding: 20px;
    justify-content: center;
    align-items: center;
  }

  .card,
  .card2 {
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    padding: 20px;
  }

  #hola > div,
  #hola > h1,
  .iconos,
  .input-form,
  .btn {
    flex-direction: column;
  }

  .input-form,
  .btn {
    font-size: 1rem;
    padding: 10px;
  }

  .project-tile {
    font-size: 1rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    width: 50%;
  }

  .link-project {
    font-size: 1rem;
    padding: 20px;
    width: 15%;
  }
}
